body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#f4f7fb;
    margin:0;
}

/* MENU */
nav{
    background:linear-gradient(90deg,#4e73df,#224abe);
    padding:15px;
}

nav h1{
    color:white;
    margin:0;
}

.menu{
    margin-top:10px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-right:15px;
    font-weight:bold;
}

.menu a:hover{
    text-decoration:underline;
}

/* CONTAINER */
.container{
    width:80%;
    margin:auto;
    margin-top:30px;
}

/* CARD */
.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

/* INPUT */
input{
    padding:8px;
    margin:5px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* BOTÃO */
button{
    background:#4e73df;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#2e59d9;
}